
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


header {
    background-color: blue;
    color: #fff;
    padding: 10px;
    text-align: center;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


form {
    margin-bottom: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}


.editTable {
    display: none;
    margin-top: 20px;
}

.editTable label,
.editTable input,
.editTable button {
    display: block;
    margin-bottom: 10px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


.btn {
    padding: 5px 10px;
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.btn-info {
    background-color: #17a2b8;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}
#logout-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

#logout-button:hover {
    background-color: #c82333;
}